.img-site.img-week2 > img {
	display: inline;
    margin-left: 5px;
    width: 47%;
}

.img-site {
	width: 65%;
}

.describe-site {
	width: 33%;
}
h4.h4-fieldset {
	font-size: 1.2em;
}

fieldset#topic {
	background-color: #fdf5f5;
}