body {
	background-color: #dddddd;
}

#p1 {
	font-size: 1.5em;
	font-family: verdena;
}
#p_red {
	color: red;
}

.p_blue {
	color: blue;
}

a {
	text-decoration: none;
}

ul.left-menu > li:first-child, 
ul.left-menu > li:first-child > a {
    color: #ff0000;
}

ul.left-menu li:last-child, 
ul.left-menu li:last-child > a {
    color: #ffd700;
}

ul.left-menu li > a:hover {
    color: white;
}