div#next_eda {
    background-color: #eeeeee;
    border: 1px dotted;
    float: right;
    margin-bottom: 10px;
    padding: 5px;
    width: 75%;
}

.nav {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 0 15px 15px 0;
    width: 22%;
}

a {
    color: #000;
    text-decoration: none;
}

ul.left-menu > li {
    list-style: none;;
}

ul.left-menu > li:first-child, 
ul.left-menu > li:first-child > a {
    color: #ff0000;
}

ul.left-menu li:last-child, 
ul.left-menu li:last-child > a {
    color: #ffd700;
}

ul.left-menu li > a:hover {
    color: #9f9f9f;
}

img#img-cultural {
    padding: 14px 5px;
    width: 60%;
}